##########
# System #
##########

# macOS
.DS_Store


##########
# Python #
##########

**/__pycache__/


##########
# Others #
##########

**/products/
**/resources/


##############
# Exceptions #
##############

!**/latex/resources/
